h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.h2__text {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.regular__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

a {
    text-decoration: none;
}

.menu__el {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

body {
    width: 1140px;
    justify-content: center;
}

.center {
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

.card__good {
    width: 300px;
    display: inline-block;
    padding: 10px;
}